.article-container.pt-3 h1 {
    font-size: 1rem;
    color: #ff0000;
    font-weight: bolder;
}

.section-subheading.article-title.mb-0.mt-0 a {
    text-decoration: none;
    background: linear-gradient(to right, #ec695c, #61c454) no-repeat right bottom;
    background-size: 0px 3px;
    // background: ;
    transition: background-size 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
    // transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.section-subheading.article-title.mb-0.mt-0 a:hover {
    background-position-x: left;
    background-size: 100% 3px;
    // background: ;

}

div.highlight .btn.btn-primary.btn-copy-code {
    line-height: .5;

}

.highlight pre {

    background-color: #e0e0e0;
}

.article.article-project .featured-image {
    width: 50%;

}

code {

    color: #f53030;
    background-color: #ebebe9;
    border-radius: 12px;
    padding: 5px;
}

.article-style h1 {
    font-size: 1.5rem;

}

header nav.navbar {
    height: 0px; //清除默认高度样式
    min-height: 40px;
    background: #F2F2F2;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0,50%) !important;
    // box-shadow: 1px 6px 20px 1px rgb(0 0 0 / 50%)!important;//报错
}

// div.dropdown-menu{
//     // transition: display 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
// }
