.article-container.pt-3 h1 {
    font-size: 1rem;
    color: #ff0000;
    font-weight: bolder;
}

.section-subheading.article-title.mb-0.mt-0 a{
    text-decoration: none;
    background:linear-gradient(to right,#ec695c,#61c454) no-repeat right bottom;
    background-size: 0px 2px;
    // background: ;
    transition: background-size 1300ms;
}
.section-subheading.article-title.mb-0.mt-0 a:hover {
    background-position-x: left;
    background-size: 100% 2px;
    // background: ;

}

div.highlight .btn.btn-primary.btn-copy-code {
    line-height: .5;

}

.highlight code {
    // background: #E1E1DF;
    background-color: #c1c118;
}